* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#33BE5E, #33D77F, #33FDB2);
    height: 100%;
    font-family: 'Lato', sans-serif;
}

label {
    color: #ffffff;
}

.row input, 
.row textarea,
.row select {
    border: none;
    border-radius: 5px;
}

.row input {
    height: 40px;
}

button {
    font-weight: bold;
    color: #ffffff;
    background: #32A84E;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}